@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 150px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 20px;
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.box2, .box5, .box8 {
  border-right: 2px solid black;
}

.box1, .box4, .box7 {
  border-right: 2px solid black;
}

.box1, .box2, .box3 {
  border-bottom: 2px solid black;
}

.box7, .box8, .box9 {
  border-top: 2px solid black;
}

.swal-text {
  color: red;
}