@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #F3F3FB;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container .sub-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 5px 10px 10px #eee;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-auto-rows: 150px;
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #F3F3FB;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #f5f5f5;
}

.box2, .box5, .box8 {
  border-right: 3px solid #333;
}

.box1, .box4, .box7 {
  border-right: 3px solid #333;
}

.box1, .box2, .box3 {
  border-bottom: 3px solid #333;
}

.box7, .box8, .box9 {
  border-top: 3px solid #333;
}

/* .swal-text {
  color: red; 
} */

#reset-btn {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 30px;
}

#reset-btn:hover {
  border: 1px solid #333;
  background-color: #F3F3FB;
  color: #333;
}


@keyframes blink { 
  50% { box-shadow: 0 0 20px #83d483; } 
}

.sub-container.won { 
     animation-name: blink ;
     animation-duration: .5s ;
     animation-timing-function: step-end ;
     animation-iteration-count: infinite ;
     animation-direction: alternate ;
}